/* @import url("https://fonts.googleapis.com/css2?family=Sora:wght@200;300;400&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

:root {
  --white: rgba(250, 246, 246, 0.747);
  --light-black: rgb(179, 175, 175);
  --light-white: rgba(235, 227, 227, 0.723);
  --dark-bg: rgba(237, 234, 234, 0.599);
  --bg: black;
}
a{
  color: white;
}
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

hr {
  border: 0;
  border-bottom: solid 1px rgba(241, 241, 241, 0.3);
  margin: 1em 0;
}

body {
  background-color: var(--bg);
  margin: 0;
  padding: 0;
  color: var(--light-black);
  font-size: 17pt;
  font-weight: 500;
  line-height: 1.3;
}

.bantu-vibe h1 {
  font-size: clamp(1rem, 10vw, 4rem);
  font-family: "Bangers", cursive;
  color: white;
  padding-left: 7rem;
}

/* Home designs with the cool bantu vibes */
.home .flex-items {
  color: var(--white);
  display: flex;
}

.home-body {
  margin-top: -8rem;
  padding-top: 8rem;
  background-image: url(assets/Frame\ 7.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.home .right {
  font-weight: 500;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.image {
  overflow: hidden;
  padding-left: 2rem;
  width: 30px;
  /* border: 1px solid white; */
}

.home .image img {
  object-fit: contain;
  -o-object-fit: contain;
  height: 100%;
}

.space {
  margin: 1rem;
}

.cx {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.cx h1 {
  color: white;
  font-size: clamp(7rem, 20vw, 14rem);
  /* letter-spacing: clamp(0.5rem, 2vw, 1rem);    */
  font-family: "Bangers", cursive;
}.blog{padding: clamp(3rem,10vw,4rem);}
.blog a{color: rgb(172, 61, 21);}

.link {
  padding-top: 2rem;
   display: flex;
  max-width: 100%;
}

.link li {
  font-weight: bolder;
  list-style: none;
}

.link a {
  margin: 0 1rem;
}

.content {
  margin: 0 0 1rem 0;
}

.flyers,.flyer2 {
  position: sticky;
  /* border: 1px solid white; */
  top: 3rem;
  z-index: -1;
  font-family: "Bangers", cursive;
  width: 80%;
  padding-left: 8rem;
}

.flyers h1 {
  color: rgb(55, 54, 54);
  font-size: clamp(4rem, 60vw, 15rem);
  font-family: "Bangers", cursive;
}
.flyer2 h1 {
  color: rgb(55, 54, 54);
  font-size: clamp(3rem, 30vw, 10rem);
  font-family: "Bangers", cursive;
}

.youtube_container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 2rem 0;
}

/* --------------------about-------------------- */
.wrap {
  position: relative;
  /* border: 1px solid yellow; */
  padding: 8rem 0;
}

.about {
  /* border: 1px solid red; */
  padding: 0 8rem;
  overflow: hidden;
  margin: -5rem 0 0 0;
}

.bantu-vibe_about h1 {
  font-size: clamp(1rem, 6vw, 3rem);
  font-family: "Bangers", cursive;
  color: white;
}

.bantu-vibe_about h1 span {
  font-size: clamp(1rem, 6vw, 3rem);
  font-family: "Bangers", cursive;
  color: rgb(55, 54, 54);
}

.about .flex-items .right {
  width: 50%;
  /* border: 1px solid white; */
  
}

.about .flex-items {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
}

.about .flex-items .left {
  width: 50%;
  padding: 0 8rem 0 0;
}

.about .flex-items p {
  font-size: 18px;
  line-height: 1.4;
  padding: 1rem 0 0 0;
}

.frame {
  width: 100%;
  overflow: hidden;
  margin: 2.5rem 0 0 0;
  margin-top: 2rem;
  aspect-ratio: 3/4;
}

.frame_album {
  width: 100%;
  height: 100%;
  aspect-ratio: 4/4;
  padding: 2rem 0 0 6rem;
}

.frame_album img {
  width: 100%;
  height: 100%;
}

.about .frame_about {
  overflow: hidden;
  /* height: 330px; */
  width: 100%;
  margin-top: 1rem;
  aspect-ratio: 3/4;
}

.frame img,
.frame_about img,
.frame_about1 img {
  width: 100%;
  height: 100%;
  margin-top: 2rem;
  object-fit: fill;
  max-width: 100%;
}

/* --------------------music-------------------- */
.work {
  padding: 8rem;
  height: 100%;
  overflow: hidden;
  margin-top: -10rem;
}

.work .work_reverse {
  display: flex;
  justify-content: space-between;
}

.work_reverse .left {
  width: 100%;
}

.work p {
  font-size: 18px;
  line-height: 1.4;
  padding: 1rem 0 0 0;
}

.work_reverse .right {
  width: 50%;
  margin: 0 0 0 3rem;
}

.work .left .frame_work {
  aspect-ratio: 3/4;
  margin-bottom: -2rem;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: gold;
}

.work .left .frame_work img {
  width: 100%;
  height: 103%;
}

.bantu-vibe_album {
  padding-left: 30%;
  margin-bottom: 4rem;
}

/* albums */
.album {
  padding: 0 6rem;
}

.projects,
.songs,
.Ideas {
  height: 100vh;
  overflow: hidden;
  padding: 0 8rem;
}

.Ideas {
  width: 100%;
  margin-top: -10rem;
}

.Ideas .flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30%;
}

.let {
  margin-right: 2rem;
}

.Ideas .flex-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects .flex-items {
  display: flex;
  width: 100%;
}

.projects .flex-items img {
  display: flex;
  width: 100%;
}

.bantu-vibe_single {
  padding-left: 30%;
  margin-bottom: 4rem;
}

li.up {
  margin-top: -8rem;
}

/* ------------------.Ideas------------------ */

.Ideas img {
  width: 200px;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

tr:nth-of-type(odd) {
  color: var(--white);
}

th {
  text-align: center;
  background: #333;
  color: white;
  font-weight: bold;
}

td,
th {
  text-align: center;
  justify-content: center;
  padding: 1px;
  width: 20%;
  text-align: left;
  border-bottom: solid 1px rgba(241, 241, 241, 0.3);
}

/* ------------------about page------------------ */
.about_items {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0 6rem;
}

.abouts .bantu-vibe_about {
  padding: 0 0 0 8rem;
}

.about_items .about_frame img {
  width: 100%;
}

.about_items .about_frame {
  height: 100vh;
  overflow: hidden;
  background-color: gold;
  margin-right: 2rem;
}

/*----------------- merch page----------------- */
.merch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.merch_items {
  padding: 3rem 6rem 0 3rem;
}

.merch .merch_frame img {
  width: 100%;
  height: 100%;
  margin: 2rem;
  object-fit: fill;
  -o-object-fit: fill;
}

.merch_listen img {
  width: 100%;
}

.browse {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.browse li img {
  object-fit: fill;
  -o-object-fit: fill;
  width: 30px;
}

.button {
  background-color: var(--light-white);
  padding: 5px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0 20px;
}

.button a {
  font-size: clamp(1rem, 2vw, 1.5rem);
  font-family: "Bangers", cursive;
  color: var(--bg);
}

/*------------------ events------------------ */
.main {
  position: relative;
  left: 0;
  /*  note vh and vw switched  */
  width: 100vw;
  height: 100vw;
  /*    */
  transform-origin: top left;
  transform: rotate(-90deg) translateX(-100vh);
  overflow-x: hidden;
  overflow-y: scroll;
  /*   scroll-snap-type: y mandatory; */
}
.main1 {
  position: relative;
  display: none;
}

.wrap_up {
  margin-top: -90vh;
}

.main .event_items {
  width: 30vw;
  height: 100%;
  margin: 2rem;
  background-color: rgb(55, 54, 54);
  /*   scroll-snap-align: start; */
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.Events {
  padding: 0 0 4rem;
  z-index: 1000;
  width: 50%;
}

.event_items_top {
  margin-top: -8rem;
  padding: 0 6rem;
  overflow: hidden;
}

.event-vibe_about h1 {
  font-size: clamp(1rem, 5vw, 2rem);
  font-family: "Bangers", cursive;
  color: white;
}

.event_items_top p {
  margin-top: 2rem;
}

.main .event_container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: fit-content;
  transform-origin: top left;
  transform: rotate(90deg) translateY(-100vh);
}
.main1 .event_container {
  display: flex;
  flex-direction: column;
}

.track_box {
  padding: 0 6rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.track_box_items {
  aspect-ratio: 4/4;
  padding: 0 0 0 0rem;
  padding: 3rem;
}

.track .event_frame {
  width: 100%;
}

.track_box section {
  overflow: hidden;
  background-color: gold;
  height: 100%;
}

.track_box .frame_album img {
  height: 110%;
}

/* .event_container {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  padding: 0 6rem;
} */
.track_content {
  padding: 2rem;
}

.track_content .flex_items {
  display: flex;
  align-items: center;
}

.event_frame img {
  width: 100%;
  object-fit: fill;
  -o-object-fit: fill;
}

.track_container {
  overflow: hidden;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding: 0 6rem;
}

.track_table {
  padding: 0 6rem;
}

.track_frame {
  width: 100%;
  height: 100%;
}

.track_frame img {
  height: 100%;
  width: 100%;
}
/* ----.-------------footer----------------- */
.footer {
  padding: 2rem 8rem;
  height: 100%;
  overflow: hidden;
  margin: 2rem 0;
}

.footer .flex_items {
  display: flex;
  margin: 0 0 2rem 0;
  justify-content: space-between;
}

.footer_right ul {
  display: flex;
}

.footer .flex_items .footer_right {
  width: 40%;
  display: block;
}

.footer .flex_items .left {
  width: 45%;
}

.flex_logo {
  display: flex;
  width: 220px;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.footer .box-container .box h3 {
  color: var(--white);
  padding-bottom: 1rem;
}

.box.second {
  padding-top: 2rem;
}

.footer .box-container .box a {
  color: var(--light-white);
  padding-bottom: 1.5rem;
  display: block;
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .credit {
  text-align: center;
  /* border-top: .1rem solid var(--light-white); */
  color: var(--white);
}

.footer .credit span {
  color: var(--main-color);
}

.vibe .fab {
  font-size: 24px;
  color: var(--white);
}

.footer .box-container .box a i {
  color: var(--main-color);
  padding-right: 0.5rem;
  transition: 0.2s linear;
}

.fa-solid,
.fas {
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  margin-left: 1rem;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 13pt;
  }

  .home .image {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  /* -----------------------.home----------------------- */
  .wrap {
    position: relative;
    /* border: 1px solid yellow; */
    padding: 3rem 0;
  }

  .space {
    margin: 1rem;
  }

  .home .image {
    height: 400px;
    overflow: hidden;
    display: flex;
    padding-left: 0;
    justify-content: center;
  }

  .home .right {
    width: 90%;
    padding-right: 0rem;
  }

  .big_circle_event{
    top: -.5em;
    right: -.3rem;
    border: 1px solid rgb(110, 109, 109);
    background-color: rgba(61, 61, 61, 0.425);
  }
  
  .home .flex-items {
    flex-direction: column-reverse;
  }

  .work_reverse {
    display: block;
    width: 100%;
    gap: 0rem;
  }

  .home .image img {
    padding-top: 2rem;
    height: 600px;
  }

  .cx p {
    margin-top: 2rem;
  }

  .youtube_container {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
  }
  .flyers,.flyer2 {
    width: 100%;
    padding: 1rem;
  }

  .flyers h1 ,.flyer2 h1{
    font-size: clamp(2rem, 17vw, 8rem);
  }

  /* --------------------------------.about-------------------------------- */
  .about {
    padding: 1rem;
    height: 100%;
  }

  .link a {
    margin: 0 0.5rem;
  }

  /* .about .flex-items .left{ display: flex; flex-wrap: wrap-reverse;} */
  .about .flex-items {
    display: block;
  }

  .about .flex-items .left {
    width: 100%;
    padding: 0;
  }

  .about .flex-items .right {
    display: flex;
    width: 100%;
  }

  /*-------------------- music-------------------- */
  .work {
    padding: 1rem;
    height: 100%;
  }

  .work_reverse .left .frame_work {
    width: 100%;
    margin: 0;
    height: 100%;
    overflow: hidden;
    aspect-ratio: 3/4;
  }

  .work_reverse .left .frame_work img {
    width: 100%;
    margin: 0;
  }

  .bantu_vibe_work img {
    width: 100%;
  }

  .Ideas {
    height: 100%;
    margin-top: 0;
  }

  .Ideas .flex {
    margin-left: 7%;
  }

  .let {
    margin-right: 0;
  }

  li.up {
    margin-top: -4rem;
  }

  .work .work_reverse {
    display: block;
  }

  /* albums */
  .projects,
  .songs {
    padding: 1rem;
    overflow: hidden;
    height: 100%;
  }

  h3 {
    font-size: 20px;
  }

  .work_reverse .right {
    width: 100%;
    margin: 0;
  }

  /* -----------------.songs----------------- */
  .bantu-vibe_single,
  .bantu-vibe_album {
    padding-left: 0;
    margin-bottom: 0;
  }

  .bantu-vibe_single img,
  .bantu-vibe_album img {
    width: 200px;
  }

  .bantu-vibe img {
    width: 300px;
  }

  .song_table img {
    width: 15px;
  }

  /* --------------------about page-------------------- */
  .about_items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90vw, 1fr));
    padding: 0 1rem;
  }

  .about_items .about_frame img {
    width: 100%;
  }

  .about_items .about_frame {
    height: 50vh;
    overflow: hidden;
    background-color: gold;
    margin-right: 0rem;
  }

  /*---------------------- merch page---------------------- */
  .track_box {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 0 1rem;
  }

  .track_box_items {
    padding: 0rem;
    padding: 1.5rem 0 0 0;
  }
  .merch {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .merch_items {
    padding: 1rem;
  }
  .frame_album {
    padding: 1rem 0rem;
  }

  .browse {
    padding: 0 0 2rem 0;
  }

  /*------------------ events------------------ */
  .event_items_top {
    padding: 0 1rem;
  }

  .main {
    display: none;
  }
  .main1 {
    display: block;
  }
  .wrap_up {
    margin-top: 0vh;
  }

  .main1 .event_items {
    width: 100%;
    height: 100%;
    background-color: rgb(55, 54, 54);
  }
  .main1 .event_items img {
    width: 100%;
    object-fit: contain;
    height: 100%;
    background-color: rgb(55, 54, 54);
  }

  .Events {
    padding: 0;
    z-index: 1000;
    width: 100%;
  }

  .event_items_top {
    margin-top: 0rem;
    padding: 0 1rem;
    overflow: visible;
  }

  .event_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
  }

  .event_items_top .vibes {
    width: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
  }

  .event_items_top img {
    width: 70%;
  }

  .track_container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    padding: 0 1rem;
  }

  .track_table {
    padding: 0 1rem;
  }

  .wrap_up {
    margin-top: 0vh;
  }

  .album {
    padding: 0 1rem;
  }

  /*------------------- footer -------------------*/
  .footer .box-container,
  .work_reverse {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(8rem, 1fr));
    gap: 1rem;
  }

  .box.events {
    width: 95vw;
  }

  .navbar {
    padding: 1rem;
  }

  .footer {
    padding: 3rem 1rem;
    margin: 0;
  }

  .footer .flex_items {
    display: block;
    margin: 0;
  }

  .footer .flex_items .left {
    width: 100%;
    margin-bottom: 2rem;
  }

  .footer .flex_items .footer_right {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 2rem;
    font-size: 25px;
    font-size: 550;
    line-height: 1.65;
  }

  .none {
    display: none;
  }

  .button {
    background-color: var(--light-white);
    padding: 5px 10px;
    margin: 2rem 0;
    display: inline-block;
  }
}

@media screen and (max-width: 360px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

.grid {
  display: grid;
}

@media only screen and (min-width: 500px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (min-width: 800px) {
  .grid {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
