/* @import url(fontawesome-all.min.css); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

:root {
    --white: rgba(250, 246, 246, 0.747);
    --light-black: rgb(179, 175, 175);
    --light-white: rgba(235, 227, 227, 0.723);
    --dark-bg: rgba(237, 234, 234, 0.599);
--bg:black;}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    color: var(--light-black);
    /* font-family: "Source Sans Pro", Helvetica, sans-serif; */
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}
body{background-color: var(--bg);}


/* Home designs with the cool bantu vibes */
.home {
    color: var(--white);
}

.home .flex-items {
    justify-content: center;
    align-items: center;
    display: flex;
}

.home-body {
    margin:0 0 9rem 0; width: 100%;height: 100vh;
    padding: 3rem;
    background-image: url(assets/Frame\ 7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}.home .right{display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
.right ul{display: flex;
justify-content: space-between;align-items: center;}
.right ul li{margin: 1rem;}
.home .image  {
    width: 50%;height: 600px;
}.home .image img {
    height: 100%;
}
.cx img{width: 70%;}
.cx {width: 100%;align-items: center;display: flex;justify-content: center;}

.link li {
    font-weight: bolder;
    list-style: none;
}
.link a {
    width: 3rem;
    margin: 2rem;
}
.flyers{display: none; width: 100%;margin-top: 0; height: 30vh;}
/* .flyers img{} */
.youtube_container{height: 90vh;display: flex;justify-content: center;align-items: center;
width: 100%;margin: 9rem 0;
}
/* --------------------about-------------------- */
.about{background-color: var(--bg);padding: 3rem;height: 110vh;overflow: hidden;margin:9rem 0;}
.about .flex-items{display: flex;justify-content: space-between;}
.about .flex-items .left{width: 50%;padding: 0 3rem 0 0;}
.about .flex-items p{ font-size: 18px;line-height: 1.4;padding: 1rem 0 0 0;}
.frame{height: 400px;overflow: hidden;margin: 2.5rem 0 0 0;}
.about .frame_about {overflow: hidden; height: 330px; width: 100%;}
.about .frame_about1 {overflow: hidden; height: 330px;margin: 1rem 0 0 0; width: 100%;}
.frame img,.frame_about img,.frame_about1 img{width: 100%;}
/* --------------------music-------------------- */
.work{background-color: var(--bg); padding: 3rem;height: 100vh;overflow: hidden;margin:9rem 0;}
.work .work_reverse{display: flex;justify-content: space-between;}
.work_reverse .left{width: 100%;margin: 0 3rem 0 0;}
.work p{ font-size: 18px;line-height: 1.4;padding: 1rem 0 0 0;}
.work_reverse .right .frame_side img{width: 100%;}
.work .left .frame_work img{width: 100%;}
/* albums */
.projects,.songs,.Ideas{background-color: var(--bg); padding: 3rem;overflow: hidden;margin:9rem 0;}
.projects .flex-items{display: flex;width: 100%;}
.projects .flex-items img{display: flex;width: 100%;}
/* ------------------.Ideas------------------ */

.Ideas img{width: 200px;}
table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}

tr:nth-of-type(odd) {
    color: var(--white);
}

th {
    text-align: center;
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    text-align: center;
    justify-content: center;
    padding: 1px;
    width: 20%;
    text-align: left;
}
/* -----------------footer----------------- */
.footer{padding: 3rem;height: 100%;overflow: hidden;margin:9rem 0;}
.footer .flex_items{display: flex;margin: 0 0 3rem 0;justify-content: space-between;}
.footer_right ul{display: flex;}
.footer .flex_items .footer_right{width: 40%;display: block;}
.flex_logo{display: flex;width: 220px;align-items: center;justify-content: center;}
.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: var(--light-white);
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    /* border-top: .1rem solid var(--light-white); */
    color: var(--white);
}

.footer .credit span {
    color: var(--main-color);
}.vibe .fab {
    font-size: 24px;
    color: var(--white);
}.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: 0.5rem;
    transition: .2s linear;
}.fa-solid, .fas {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
}
@media screen and (max-width: 1680px) {

    body,
    input,
    select,
    textarea {
        font-size: 14pt;
    }.home .image {width: 100%;}
}

@media screen and (max-width: 1280px) {

    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }


}
@media screen and (max-width: 736px) {
   /* -----------------------.home----------------------- */
    .home-body {padding: 1rem;
        height: 100%;
        margin:0 0 2rem 0;
            }   
                 .home .flex-items {
        display: block;
    }
    .home .image {height: 200px;
        overflow: hidden;
        
    display: flex;
    justify-content: center;
    } 
    .home .image img{height: 300px;transform: rotateY(180deg);} 
    .youtube_container{height: 50vh;display: flex;justify-content: center;align-items: center;
        width: 100%;margin: 0;
        }.flyers img{z-index: -1;top: 0;width: 100%;}

    /* --------------------------------.about-------------------------------- */
    .about{padding: 1rem;height: 100%;}
    .frame{display: none;}
    /* .about .flex-items .left{ display: flex; flex-wrap: wrap-reverse;} */
    .about .flex-items{ display: block;}
    .about .flex-items .left{width: 100%;padding: 0;}
    .about .flex-items .right{ display: flex;}
    .about .frame_about {height: 100%;  width: 100%;}
    .about .frame_about1 {height: 100%; margin: 0 0 0 1rem; width: 100%;}
    /*-------------------- music-------------------- */
    .work{ padding: 1rem;height: 100%;}
    .work_reverse .left .frame_work img{width: 100%;margin: 0;height: 100%;}
    .bantu_vibe_work img{width: 100%;}
    .work .work_reverse{display: block;}
/* albums */
.projects,.songs{ padding: 1rem;overflow: hidden;}

/* -----------------.songs----------------- */

.none{display: none;}
.songs table img{width: 15px;}
/*------------------- footer -------------------*/

.footer{padding: 1rem;margin:0;}
.footer .flex_items{display: block;margin: 0;}
.footer .flex_items .footer_right{width: 100%;}
}
@media screen and (max-width: 360px) {

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

}