@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");

* {
  text-decoration: none;
  list-style: none;
}

.navbar {
  padding: 2rem 6rem;
position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
}

.navbar .logo {
  z-index: 1000;
  font-size: 2em;
  font-weight: bold;
}

.big_circle {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  border-radius: 50%;
  position: absolute;
  /* top: 4rem; */
  top: clamp(6rem, 50vw, 2rem);
  left: clamp(12rem, 10vw, 1rem);
  border: 1px solid rgb(110, 109, 109);
  z-index: 5;
  margin-left: 1rem;
  background-color: rgba(61, 61, 61, 0.425);
}

.big_circle_event {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 0.3em;
  right: 4.4rem;
  border: 1px solid rgb(110, 109, 109);
  background-color: rgba(61, 61, 61, 0.425);
}
.small_circle1 {
  height: 160px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 160px;
  border-radius: 50%;
  position: absolute;
  right: 4.4rem;
  top: 50%;
  left: 60%;
  border: 1px solid rgb(110, 109, 109);
  background-color: rgba(61, 61, 61, 0.425);
}
.small_circle1 .small_circle {
  background-color: rgb(110, 109, 109);
  height: 75px;
  width: 75px;
  border-radius: 50%;
}
.small_circle2 {
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  right: 4.4rem;
  top: 40%;
  left: 80%;
  border: 1px solid rgb(110, 109, 109);
  background-color: rgba(61, 61, 61, 0.425);
}
.small_circle2 .small_circle {
  background-color: rgb(110, 109, 109);
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.small_circle3 {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  right: 4.4rem;
  top: 20%;
  left: 85%;
  border: 1px solid rgb(110, 109, 109);
  background-color: rgba(61, 61, 61, 0.425);
}
.small_circle3 .small_circle {
  background-color: rgb(110, 109, 109);
  height: 25px;
  width: 25px;
  border-radius: 50%;
}
.small_circle_m1 {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: absolute;
  top: 97%;
  left: 17%;
  border: 1px solid var(--white);
}
.small_circle_m2 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  position: absolute;
  top: 104%;
  left: 16%;
  border: 1px solid rgb(110, 109, 109);
  background-color: var(--white);
}
.small_circle_m3 {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  position: absolute;
  top: 117%;
  left: 14%;
  border: 1px solid rgb(110, 109, 109);
  background-color: rgb(184, 180, 180);
}
.small_circle_m4 {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  top: 130%;
  left: 9%;
  border: 1px solid rgb(110, 109, 109);
  background-color: rgba(238, 231, 231, 0.363);
}
.small_circle_m5 {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  position: absolute;
  top: 140%;
  left: 4%;
  border: 1px solid rgba(138, 127, 127, 0.164);
  background-color: rgba(61, 61, 61, 0.336);
}

.circle {
  background-color: rgb(110, 109, 109);
  height: 75px;
  width: 75px;
  border-radius: 50%;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li.active a {
  color: #ed3c57;
  font-weight: 600;
}

.nav-links .main_sec a {
  font-size: clamp(1rem, 10vw, 3rem);
  font-family: "Bangers", cursive;
  color: white;
}

.navbar a {
  color: white;
}

.navbar .menu-hamburger {
  display: block;
  font-size: 25px;
  cursor: pointer;
}

.nav-menu {
  margin-top: clamp(-6rem, 10vw, -4rem);
  display: flex;
  flex-direction: column;
}

.photo_nav {
  overflow: hidden;
  width: 100%;
}

.flyer h1 {
  z-index: 1000;
  margin-top: 5rem;
  color: rgb(61, 61, 61);
  font-size: clamp(1rem, 30vw, 7rem);
  font-family: "Bangers", cursive;
}

.photo_nav ul li::before {
  content: "";
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 999),
    rgba(14, 13, 13, 0)
  );
  position: absolute;
  height: 100px;
  right: 0;
  bottom: 7rem;
  left: 0;
}

.photo_nav ul::after {
  content: "";
  display: block;
  height: 9999px;
}

.photo_nav ul {
  margin: 5rem;
  height: 100%;
  padding: 2rem;
  display: flex;
  overflow: hidden;
  width: 100%;
}

.photo_nav ul li img {
  aspect-ratio: 3/4;
}
.music .flex-items{
  padding: 0 8rem;
}
.order1{display: block;
width: 50%;}
.order {
  position: relative;
  width: 50%;
  height: 100vh;
  display: flex;
}
.order_4 {
  transform: rotate(-15deg);
    position: absolute;
    aspect-ratio: 3/4;
    z-index: 1;
  }.order_3 {
    z-index: 2;
    height: 90%;
    margin-top: 5rem;
    position: relative;
    transform: rotate(-20deg);
    }
    .order_1 img, .order_2 img, .order_3 img, .order_4 img {
      height: clamp(20rem,50vw,25rem);
      aspect-ratio: 3/4;
      width: clamp(10rem,50vw,20rem);
      }
      .order_2 img{
      z-index: 3;
      margin-left: 6rem;
      margin-top: -5rem;
      transform: rotate(10deg);
      position: absolute;
        aspect-ratio: 3/4;
      }.order_1 {
        transform: rotate(40deg);
        z-index: 4;
        position: absolute;
          margin-left: 14rem;
          aspect-ratio: 3/4;
        }
li.order1 img {
  height: 100%;
  position: relative;
  margin-top: 5rem;
  margin-left: 10rem;
  /* background-color: rgb(0, 255, 149); */
}

li.order2 img {
  height: 60%;
  margin-left: -10rem;
  position: relative;
  margin-top: 6rem;
  /* background-color: rgb(79, 194, 12); */
}

li.order3 img {
  margin-top: 2rem;
  margin-left: -11rem;
  height: 70%;
}

li.order4 img {
  margin-top: 9rem;
  height: 70%;
  margin-left: -10rem;
  /* background-color: rgb(0, 4, 255); */
}

.navbar .menu-hamburger {
  display: block;
  z-index: 1000;
}

.nav-links .main_sec {
  display: flex;
  padding: 0 0 0 6rem;
  height: 80vh;
}

.footer_nav {
  position: relative;
  padding: 0 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 2rem;
}

.flex_items,
.flex-items {
  display: flex;
}

.local {
  margin: 0 1rem;
}

h3 {
  padding-bottom: 1rem;
}

.end_nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 60%;
}

.center_nav ul {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  width: 50%;
}

.end_nav p,
.center_nav p {
  padding-bottom: 0.7rem;
}

.nav-links {
  top: 0;
  left: -200%;
  position: absolute;
  background-color: rgb(0, 0, 0);
  /* backdrop-filter: blur(8px); */
  width: 100%;
  height: 100%;
  margin: 0;
  transition: left 0.5s ease;
}

.nav-links.mobile-menu {
  left: 0;
  width: 100%;
  padding: 0;
  height: 100vh;
}

.navbar .nav-links ul li {
  font-size: 1.2em;
}

@media screen and (max-width: 736px) {
  .nav-links .main_sec {
    padding: 0 0 0 2rem;
    height: 60vh;
  }

  .photo_nav {
    display: none;
  }
  .small_circle_m1 {
    display: none;
  }

  .small_circle2 {
    right: 0;
    top: 10%;
    left: 40%;
  }
  .small_circle3 {
    right: 0;
    top: 20%;
    left: 70%;
  }.music .flex-items{
    padding: 1rem;
    display: block;
  }
  .order1{display: block;
  width: 100%;
    position: relative;
    width: 100%;
    height: 100%;margin-bottom: 6rem;
  }
  .order_4 {
    margin-top: 5rem;
    transform: rotate(15deg);
    }.order_3 {
      height: 90%;
      margin-top: 6rem;
      position: relative;
      transform: rotate(-20deg);
      }
      .order_1 img, .order_2 img, .order_3 img, .order_4 img {
        height: clamp(10rem,50vw,25rem);
        aspect-ratio: 3/4;
        width: clamp(1rem,50vw,10rem);
        }
      .order_2 {
        z-index: 3;
        margin-left: 6rem;
        margin-top: 5rem;
        transform: rotate(10deg);
        position: absolute;
          aspect-ratio: 3/4;
        }.order_1 {
          margin-top: 10rem;
          position: absolute;
            margin-left: 10em;
            aspect-ratio: 3/4;
          }
}
