/* @import url(fontawesome-all.min.css); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); */
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300italic,600,600italic");

:root {
    --main-color: #8e44ad;
    --black: #222;
    --white: #fff;
    --light-black: rgb(206, 205, 205);
    --light-white: #fff9;
    --dark-bg: rgba(0, 0, 0, .7);
    --light-bg: #eee;
    --border: .1rem solid var(--black);
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --text-shadow: 0 1.5rem 3rem rgba(0, 0, 0, .3);
}

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body,
input,
select,
textarea {
    margin: 0;
    padding: 0;
    color: var(--light-black);
    /* font-family: "Source Sans Pro", Helvetica, sans-serif; */
    font-size: 17pt;
    font-weight: 300;
    letter-spacing: 0.025em;
    line-height: 1.65;
}


@media screen and (max-width: 1680px) {

    body,
    input,
    select,
    textarea {
        font-size: 14pt;
    }
}

@media screen and (max-width: 1280px) {

    body,
    input,
    select,
    textarea {
        font-size: 12pt;
    }


}

@media screen and (max-width: 360px) {

    body,
    input,
    select,
    textarea {
        font-size: 11pt;
    }

}

a {
    -moz-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    -webkit-transition: color 0.2s ease-in-out,
        border-bottom-color 0.2s ease-in-out;
    -ms-transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out, border-bottom-color 0.2s ease-in-out;
    color: inherit;
    text-decoration: none;
}

a:hover {
    border-bottom-color: transparent;
    color: #9bf1ff !important;
}

a:active {
    color: #53e3fb !important;
}

strong,
b {
    color: #ffffff;
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    font-weight: 600;
    line-height: 1.65;
    margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    border-bottom: 0;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.35em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

@media screen and (max-width: 736px) {
    h1 {
        font-size: 2em;
    }

    .reverse {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .content,
    .footer {
        padding: 1.2rem;
    }

    h2 {
        font-size: 1.5em;
    }

    h3 {
        font-size: 1.25em;
    }
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: #0e0207;
    overflow: hidden;
}

.flex-items,
.reverse {
    align-items: center;
    display: flex;
    justify-content: space-between;
    /* width: 100%; */
}

ul {
    font-weight: 800;
    display: flex;
    justify-content: space-between;
}

.left,
.right {
    width: 50%;
    padding: 0 2rem;
}

.right ul li {
    font-weight: 700;
}

.about,
.projects {
    overflow: hidden;
    /* margin: 2rem 0 0 0; */

}

.content,
.footer {
    padding: 8rem;
}

td img {
    width: 25px;
}

.work {
    margin: 2rem 0 0rem 0;
}

.flyers img {
    width: 100%;
    height: 100%;
}

.frame {
    height: 500px;
    overflow: hidden;
    margin: 0 0 2rem;
}

.frame img {
    width: 100%;
    margin-top: -4rem;
}


.lets {
    width: 50%;
}

.bantu-vibe {padding-top: 20px;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.bantu-vibe img {
    width: 9em;
    text-align: center;
    justify-content: center;
}

.vibe img {
    position: absolute;
    width: 6rem;
    margin-top: -3rem;
    right: 2rem;
}

/* Home designs with the cool bantu vibes */
.home {
    color: var(--white);
}

.home .flex-items {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
}

.home-body {
    height: 100vh;
    width: 100%;
    padding: 3rem;
    background-image: url(assets/Frame\ 7.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}

.home .image img {
    width: 100%;
}

.link li {
    font-weight: bolder;
    list-style: none;
}

.link a {
    width: 4rem;
}

.home .flex-items .right .cx img {
    margin-top: -30rem;
    /* position: absolute; */
}

/* Projects done by the bantu vibes */
.flex-items li img {
    width: 100%;
}

.projects .flex-items {
    display: flex;
    flex-wrap: nowrap;
}

/* footer designs for the vibe */
footer a {
    text-decoration: none;
    color: #CCCCCC;
}

.flex-footer {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 50%;
}

.footer-right .link img {
    width: 25px;
}

table {
    text-align: center;
    width: 100%;
    border-collapse: collapse;
}


/* Zebra striping */
tr:nth-of-type(odd) {
    color: var(--white);
    /* background: var(--main-color); */
}

th {
    text-align: center;
    background: #333;
    color: white;
    font-weight: bold;
}

td,
th {
    text-align: center;
    justify-content: center;
    padding: 1px;
    border: 1px solid #ccc;
    text-align: left;
}

/* landscape and portrait controlers */
@media (max-width:398px) {

    .content,
    .footer {
        padding: 1.2rem;
    }
}

@media (max-width:698px) {

    .content,
    .footer {
        padding: 1.2rem;
    }
}

@media (max-width:798px) {
    .home .flex-items .right .cx img {
        margin-top: 0rem;position: relative;width: 100%;
    }

    .left,
    .right {
        width: 100%;
        padding: 0;
    }

    .flex-items {
        flex-wrap: wrap;
    }


    /* .kohen {
        display: none;
    } */

    .work,
    .about,
    .projects,
    .songs {
        height: 100%;
    }

    .flyers img {
        width: 10rem;
        height: 100%;
    }

    .frame img {
        width: 100%;
        margin-top: 0rem;
    }
}

.footer {
    /* line-height: .5; */
    /* background: url(../images/footer-bg.jpg) no-repeat; */
    background-size: cover;
    background-position: center;
}

.footer .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 3rem;
}

.footer .box-container .box h3 {
    color: var(--white);
    padding-bottom: 2rem;
}

.footer .box-container .box a {
    color: var(--light-white);
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i {
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i {
    padding-right: 2rem;
}

.footer .credit {
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    color: var(--white);
}

.footer .credit span {
    color: var(--main-color);
}